<p id="notice" class="text-success"><%= notice %></p>
<div class="content-block">
<% if @bread_store_manager.nil? %>
  エラー
<% else %>
  <p>
  	<strong>ユーザー名:</strong> <%= @bread_store_manager.manager_name %>
  </p>	
  <% if @bread_store.nil? %>
    <p id="notice">パン屋情報を登録していません。</p>
    <%= link_to "パン屋登録を登録する", "/bread_stores/new" %>
  <% else %>
    <%= render "shared/bread_store_show" %>
    <%= link_to "パン屋情報を編集する", edit_bread_store_path(@bread_store) %><br>
    <%= link_to 'パン屋を削除する', @bread_store, :class => "text-danger", method: :delete, data: { confirm: 'パン屋を削除しますか?' } %>
  <% end %>
<% end %>
</div>
