<% if !bread_store_manager_signed_in? %>
<%= link_to "Login", "/auth/facebook/" %>
<% else %> 
<h1>全てのユーザーのパン屋リスト</h1>
<% if @bread_stores.empty?%>
	現在パン屋情報はありません。<br>
	<%= link_to "新しいパン屋を登録します。", "/bread_stores/new"%>
<% else %>
<table class="table table-bordered">
  <thead>
    <tr class="warning">
      <th>パン屋名</th>
      <th>電話番号</th>
      <th>住所</th>
      <th>表示</th>
      <%# <th>編集</th> %>
      <%# <th>削除</th> %>
    </tr>
  </thead>

  <tbody>
    <% @bread_stores.each do |bread_store| %>
      <tr class="active">
        <td><%= bread_store.name %></td>
        <td><%= bread_store.phone_number %></td>
        <td><%= bread_store.address %></td>
        <td><%= link_to '表示', bread_store %></td> 
        <%# <td><%= link_to '編集', edit_bread_store_path(bread_store) %></td> %>
        <%# <td><%= link_to '削除', bread_store, method: :delete, data: { confirm: 'パン屋を削除しますか?' } %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_bread_store_manager.bread_store.nil? %>
	<%= link_to '新しいパン屋を登録する', new_bread_store_path %>
<% end %>	
<% end %>
<% end %>
