<p>
  <h3 class="popup_label">パン屋名:</h3>
  <%= @bread_store.name %>
</p>

<p>
  <strong class="popup_label">電話番号:</strong>
  <%= @bread_store.phone_number %>
</p>

<p>
  <strong class="popup_label">住所:</strong>
  <%= @bread_store.address %>
</p>

<p>
	<strong class="popup_label">焼き上がりパン一覧</strong>
	<% first = true %>
	<% @bread_store.breads.each do |bread| %>
		<% if bread.is_yakiagari? %>
			<% if first==true %>
				<ul>
				<% first = false %>					
			<% end %>
			<li><%= bread.name %></li>		
		<% end %>
	<% end %>
	<% if first == false %>
		</ul>
	<% else %>
		なし
	<% end %>
</p>

<p>
	<strong class="popup_label">焼き上がっていないパン一覧</strong>
	<% first = true %>
	<% @bread_store.breads.each do |bread| %>
		<% if !bread.is_yakiagari? %>
			<% if first==true %>
				<ul>
				<% first = false %>					
			<% end %>
			<li><%= bread.name %></li>		
		<% end %>
	<% end %>
	<% if first == false %>
		</ul>
	<% else %>
		なし
	<% end %>
</p>
