<p id="notice" class="text-success"><%= notice %></p>
<% if @bread_store.nil? %>
  <h2>パン屋情報はありません</h2>
  <%= link_to "パン屋を登録します。", new_bread_store_path %>
<% elsif @breads.empty? %>
   <h2>パン情報はありません</h2>
   <%= link_to "新しいパンを登録します。", new_bread_path %>
<% else %>

<h1>パンリスト</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>パン名</th>
     　	　　<th>タイプ</th> 
      <th>焼き上がり</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @breads.each do |bread| %>
      <tr class="active">
        <td><%= bread.name %></td>
        <td><%= bread.kind %></td>
        <td>
            <% if bread.is_yakiagari? %>
               <%= link_to '焼き上がり', end_yakiagari_bread_path(bread), class: "btn btn-danger btn-small btn-fix-width" %>
            <% else %>
               <%= link_to '普通に戻る', start_yakiagari_bread_path(bread), class: "btn btn-primary btn-small btn-fix-width" %>
            <% end %>
        </td>
        <td><%= link_to '編集', edit_bread_path(bread) %></td>
        <td><%= link_to '削除', bread, method: :delete, data: { confirm: 'パンを削除しますか。' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいパンを登録します。', new_bread_path %>
<% end %>

