<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "HotPans", :root, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "パンリスト",    '/breads' %>
					</li>
					<li>
						<%= link_to "パン屋リスト",    '/bread_stores' %>
					</li>
					<li>
						<%= link_to "パン屋登録", '/bread_stores/new' %>
					</li>
					<li>
						<%= link_to 'Login with Facebook', '/auth/facebook/' %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>