<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "HotPans", :root, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "パンリスト",    breads_path %>
					</li>
					<% if bread_store_manager_signed_in? %>
					<li>
						<%= link_to "パン屋リスト", bread_stores_path %>
					</li>
					<li>
						<% if current_bread_store_manager.bread_store.nil? %>
							<%= link_to "パン屋登録", new_bread_store_path %>
						<% else %>
							<%= link_to "パン屋編集", edit_bread_store_path(current_bread_store_manager.bread_store) %>
						<% end %>
					</li>	
					<% end %>	
					<li>
						<% if bread_store_manager_signed_in? %>
						  <%= link_to current_bread_store_manager.manager_name, bread_store_managers_url %>
						  </li>
						  <li>
						  <%= link_to "ログオフ", destroy_bread_store_manager_session_path, :method => :delete %>
						<% else %>
						  <%= link_to 'Facebookでログイン', '/auth/facebook/' %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
